[Unit]
ConditionPathExists=!/etc/dconf/.heliumos-defaults-set
Description=Setup dconf defaults for HeliumOS
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/mkdir -p /etc/dconf
ExecStart=/usr/bin/mkdir -p /etc/dconf/db/distro.d/
ExecStart=/usr/bin/cp /usr/share/dconf/heliumos/db/00-background /etc/dconf/db/distro.d/
ExecStart=/usr/bin/dconf update
ExecStartPost=/usr/bin/touch /etc/dconf/.heliumos-defaults-set

[Install]
WantedBy=multi-user.target

