[Unit]
ConditionPathExists=!/etc/flatpak/remotes.d/flathub.flatpakrepo
Description=Setup Flatpak Remotes
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/mkdir -p /etc/flatpak/remotes.d
ExecStart=/usr/bin/curl -o /etc/flatpak/remotes.d/flathub.flatpakrepo  https://dl.flathub.org/repo/flathub.flatpakrepo

[Install]
WantedBy=multi-user.target

